.header__index {
    display: flex;
    height: 35px;
    justify-content: space-between;
    padding-top: 25px;
    position: relative;
}

.header__lado-direito {
    display: flex;
}

@media screen and (max-width:360px) {
    .header__index {
        flex-wrap: wrap;
        justify-content: center;
        padding-bottom: 20px;
    }
    .header__lado-direito {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
}