.email__button {
    width: 200px;
    color: #fff;
    font-weight: 550;
    background-color: #e50914;
    border-radius: 3px;
    font-size: 22px;
    letter-spacing: 1px;
    border: none;
}

.email__button:hover {
    background-color: #ff1925;
    cursor: pointer;
}

@media screen and (max-width: 950px) {
    .email__button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 112px;
        height: 40px;
    }
}