.email {
    display: flex;
    height: 60px;
    margin-right: 10px;
}

@media screen and (max-width: 950px) {
    .email {
        display: flex;
        height: 100px;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        margin: 0;
        padding: 0;
    }
}