.idioma {
    display: flex;
    justify-content: flex-end;
    margin-right: 25px;
}

.idioma__select {
    align-items: center;
    background: rgba(0,0,0,.4);
    border-color: white;
    border-radius: 5px;
    box-shadow: #b3b3b3;
    color: white;
    padding: 5px;
    width: 95px;
}

.idioma__select option {
    background-color: #b3b3b3;
}