.logo__imagem {
    height: 65px;
    width:190px;
}

.logo__imagem--index {
    height: 60px;
    width: 150px;
}

@media screen and (max-width: 750px) {
    .logo__imagem--responsivo {
        background: none;
        margin-left: 0px;
        margin-top: 0px;
        position: absolute;
        transform: translateX(0);
    }
}