.sign-up {
    color: #737373;
    font-size: 16px;
}

.sign-up__link {
    color: #fff;
    font-size: 16px;
    text-decoration: none;
}

.sign-up__link:hover {
    text-decoration: underline;
}

@media screen and (max-width: 750px) {
    .sign-up {
        display: flex;
        padding-top: 40px;
    }
}