.vantagens__container__imagem {
    display: flex;
    justify-content: center;
}

.vantagens__container__imagem--baixe {
    display: flex;
    justify-content: center;
}


.vantagens__container__imagem--infantil {
    display: flex;
    justify-content: center;
}


.vantagens__container__imagem--assista {
    display: flex;
    justify-content: center;
}
