.vantagens__imagem--tv {
    align-items: center;
    display: flex;
    height: 350px;
    justify-content: center;
    width: 550px;
}

.vantagens__imagem--baixe {
    align-items: center;
    display: flex;
    height: 400px;
    justify-content: center;
    width: 500px;
}

.vantagens__imagem--infantil {
    align-items: center;
    display: flex;
    height: 350px;
    justify-content: center;
    padding-left: 10px;
    width: 450px;
}

.vantagens__imagem--assista {
    align-items: center;
    display: flex;
    height: 350px;
    justify-content: center;
    width: 450px;
}

@media screen and (max-width: 950px) {
    .vantagens__imagem--infantil {
        display: flex;
        height: 450px;
        padding-top: 10px;
        width: 550px;
    }
}

@media screen and (max-width: 560px) {
    .vantagens__imagem {
        display: flex;
        height: 100%;
        width: 100%;
    }
    .vantagens__imagem--assista {
        display: flex;
        height: 100%;
        width: 100%;
    }
}
