.vantagens__subtitulo {
    display: flex;
    font-weight: 500;
    font-size: 1.4rem;
    letter-spacing: 2px;
    margin: 0px auto;
    color: #fff;
}

@media screen and (max-width: 950px) {
    .vantagens__subtitulo {
        display: flex;
        text-align: center;
        font-size: 1.1rem;
        padding-top: 10px;
    }
}

@media screen and (max-width: 560px) {
    .vantagens__subtitulo {
        display: flex;
        text-align: center;
        font-size: 1.1rem;
        padding-top: 10px;
        justify-content: space-around;
    }
}