.vantagens__titulo {
    color: #fff;
    display: flex;
    font-size: 3rem;
    margin-bottom: 20px;
}

@media screen and (max-width: 950px) {
    .vantagens__titulo {
        display: flex;
        font-size: 2.5rem;
        margin: 0 auto;
    }
}

@media screen and (max-width: 560px) {
    .vantagens__titulo {
        display: flex;
        flex-wrap: wrap;
        margin: 0 auto;
        text-align: center;
    }
}