.vantagens__subtitulo {
    display: flex;
    font-weight: 500;
    font-size: 1.4rem;
    letter-spacing: 2px;
    margin: 0px auto;
    color: #fff;
    font-family: Netflix Sans,Helvetica Neue,Helvetica,Arial,sans-serif;
}