.input-box {
    margin-bottom: 15px;
}

.input-box__input {
    height: 50px;
    width: 100%;
    color: #fff;
    background-color: #333;
    border: none;
    border-radius: 5px;
    padding-left: 15px;
    box-sizing: border-box;
    outline: none;
    font-size: 16px;
}

.input-box__input:hover {
    background-color: #444;
}
