.login__facebook {
    display: flex;
    align-items: center;
    width: 100%;
    color: #737373;
}

.login__facebook span {
    margin-right: 5px;
    font-size: 13px;
}

.login__facebook--link {
    text-decoration: none;
    color: #737373;
}