.texto__subtitulo--1 {
    color: #ffffff;
    font-size: 1.5rem;
    font-weight: 400;
    text-align: center;
}

.texto__subtitulo--2 {
    color: #ffffff;
    font-size: 1.19rem;
    font-weight: 300;
    text-align: center;
}

@media screen and (max-width: 950px) {    
    .texto__subtitulo--2 {
        display: flex;
        font-size: 1.4rem;
        margin: 10px 50px 10px 50px;
    }
}